.NavBar {
    display: flex;
    background-color: ghostwhite;
    color: black;
width: 40%;}

ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 3px;
}

ul li {
    list-style: none;
}

